<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <meta name="format-detection" content="telephone=no" />
        <style>
                body,
                html {
                        margin: 0 !important;
                        padding: 0 !important;
                        color: #333333;
                        font-family: 'Roboto', sans-serif;
                } 
                .header {
                        font-size: 23px;
                        font-weight: bold;
                }

                .sub-header {
                        font-size: 18px;
                } 
        </style>
        <title>DMC-Solicitações</title>
</head>

<body>
        <section>
                <div class="header">
                        <h3>Olá {$cliente$}, <br>Você precisa encaminhar seu produto para:</h3>
                </div>
                <div class="sub-header">
                        <p>{$empresas$}</p>
                        <p>{$text$}</p>
                </div>
                <div class="sub-header">
                        <p> Anexo encontra-se sua <b>SOLICITAÇÃO DE SERVIÇO</b> Imprima o documento, e junto com uma cópia da nota fiscal de compra envie com o equipamento.</p>
                </div>
        </section> 
</body>